<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add a Photo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
	</div>
  </form>
	<ion-list *ngIf="0">
		<ion-item>
			<ion-label stacked>Title</ion-label>
			<ion-input type="text" [(ngModel)]="account.title" name="Title" placeholder="Title"></ion-input>
		</ion-item>
	</ion-list>
	<ion-grid>
		<ion-row>
			<ion-col col-6>
				<button ion-button (click)="cancel()" color="danger" block>Cancel</button>
			</ion-col>
			<ion-col col-6>
				<button ion-button (click)="done()" [disabled]="!isReadyToSave" block>
					Done
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>