<ion-header>

  <ion-navbar color="primary">
	<ion-buttons start left>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
	</ion-buttons>
    <ion-title>Tradie Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-list>
		<ion-item no-lines>
			<ion-avatar item-start *ngIf="item.User.avatar!=null && item.User.avatar!=''">
				<img src="https://ptezone.com.au/uploads/avatars/{{item.User.avatar}}">
			</ion-avatar>
			<ion-avatar item-start *ngIf="item.User.avatar==null || item.User.avatar==''">
				<img src="assets/img/profile_avatar.jpeg">
			</ion-avatar>
			<h2><b>{{item.fullname}}</b></h2>
			
			<p>{{item.location}}</p>
			
		</ion-item>
		<ion-item no-lines>
			<p style="text-align:left;"><span *ngFor="let skill of item.Skills">#{{skill.SubCategoryName}}&nbsp;&nbsp;</span></p>
		</ion-item>
		<ion-item no-lines *ngIf="item.Reviews.length>0">
			<ion-grid>
				<ion-row>
					<ion-col col-4>
						<b>Cleanness</b>
					</ion-col>
					<ion-col col-4>
						<b>Punctuality</b>
					</ion-col>
					<ion-col col-4>
						<b>Friendliness</b>
					</ion-col>
					<ion-col col-4 style="color:#ffd700">
						<ion-icon name="star" *ngIf="parseInt(item.ReviewsSum.cleaness/item.ReviewsCount)>0"></ion-icon>
						<ion-icon name="star" *ngIf="parseInt(item.ReviewsSum.cleaness/item.ReviewsCount)>1"></ion-icon>
						<ion-icon name="star" *ngIf="parseInt(item.ReviewsSum.cleaness/item.ReviewsCount)>2"></ion-icon>
						<ion-icon name="star" *ngIf="parseInt(item.ReviewsSum.cleaness/item.ReviewsCount)>3"></ion-icon>
						<ion-icon name="star" *ngIf="parseInt(item.ReviewsSum.cleaness/item.ReviewsCount)>4"></ion-icon>
						<ion-icon name="star-half" *ngIf="(item.ReviewsSum.cleaness%item.ReviewsCount)>0"></ion-icon>
					</ion-col>
					<ion-col col-4 style="color:#ffd700">
						<ion-icon name="star" *ngIf="parseInt(item.ReviewsSum.punctuality/item.ReviewsCount)>0"></ion-icon>
						<ion-icon name="star" *ngIf="parseInt(item.ReviewsSum.punctuality/item.ReviewsCount)>1"></ion-icon>
						<ion-icon name="star" *ngIf="parseInt(item.ReviewsSum.punctuality/item.ReviewsCount)>2"></ion-icon>
						<ion-icon name="star" *ngIf="parseInt(item.ReviewsSum.punctuality/item.ReviewsCount)>3"></ion-icon>
						<ion-icon name="star" *ngIf="parseInt(item.ReviewsSum.punctuality/item.ReviewsCount)>4"></ion-icon>
						<ion-icon name="star-half" *ngIf="(item.ReviewsSum.punctuality%item.ReviewsCount)>0"></ion-icon>
					</ion-col>
					<ion-col col-4 style="color:#ffd700">
						<ion-icon name="star" *ngIf="parseInt(item.ReviewsSum.friendliness/item.ReviewsCount)>0"></ion-icon>
						<ion-icon name="star" *ngIf="parseInt(item.ReviewsSum.friendliness/item.ReviewsCount)>1"></ion-icon>
						<ion-icon name="star" *ngIf="parseInt(item.ReviewsSum.friendliness/item.ReviewsCount)>2"></ion-icon>
						<ion-icon name="star" *ngIf="parseInt(item.ReviewsSum.friendliness/item.ReviewsCount)>3"></ion-icon>
						<ion-icon name="star" *ngIf="parseInt(item.ReviewsSum.friendliness/item.ReviewsCount)>4"></ion-icon>
						<ion-icon name="star-half" *ngIf="(item.ReviewsSum.friendliness%item.ReviewsCount)>0"></ion-icon>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
		<ion-item no-lines>
			<p><ion-icon name="call"></ion-icon> +61-{{item.User.phone}}</p>
			<p><ion-icon name="mail"></ion-icon> {{item.User.email}}</p>
		</ion-item>
		<ion-item no-lines *ngIf="item.About!=null">
			{{item.About.about}}
		</ion-item>
		<ion-item no-lines>
			<ion-label><b>Reviews</b></ion-label>
		</ion-item>
		<ion-item no-lines *ngFor="let Review of item.Reviews;" class="review">
			<ion-grid>
				<ion-row>
					<ion-col col-2>
						<ion-avatar item-start *ngIf="Review.avatar!=null && Review.avatar!=''">
							<img src="https://ptezone.com.au/uploads/avatars/{{Review.avatar}}">
						</ion-avatar>
						<ion-avatar item-start *ngIf="Review.avatar==null || Review.avatar==''">
							<img src="assets/img/profile_avatar.jpeg">
						</ion-avatar>
					</ion-col>
					<ion-col col-10>
						<br/>
						<h2><b>{{Review.first_name}}&nbsp;{{Review.last_name}}</b></h2>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-4>
						<b>Cleanness</b>
					</ion-col>
					<ion-col col-4>
						<b>Punctuality</b>
					</ion-col>
					<ion-col col-4>
						<b>Friendliness</b>
					</ion-col>
					<ion-col col-4 style="color:#ffd700">
						<ion-icon name="star" *ngIf="Review.cleaness>0"></ion-icon>
						<ion-icon name="star" *ngIf="Review.cleaness>1"></ion-icon>
						<ion-icon name="star" *ngIf="Review.cleaness>2"></ion-icon>
						<ion-icon name="star" *ngIf="Review.cleaness>3"></ion-icon>
						<ion-icon name="star" *ngIf="Review.cleaness>4"></ion-icon>
					</ion-col>
					<ion-col col-4 style="color:#ffd700">
						<ion-icon name="star" *ngIf="Review.punctuality>0"></ion-icon>
						<ion-icon name="star" *ngIf="Review.punctuality>1"></ion-icon>
						<ion-icon name="star" *ngIf="Review.punctuality>2"></ion-icon>
						<ion-icon name="star" *ngIf="Review.punctuality>3"></ion-icon>
						<ion-icon name="star" *ngIf="Review.punctuality>4"></ion-icon>
					</ion-col>
					<ion-col col-4 style="color:#ffd700">
						<ion-icon name="star" *ngIf="Review.friendliness>0"></ion-icon>
						<ion-icon name="star" *ngIf="Review.friendliness>1"></ion-icon>
						<ion-icon name="star" *ngIf="Review.friendliness>2"></ion-icon>
						<ion-icon name="star" *ngIf="Review.friendliness>3"></ion-icon>
						<ion-icon name="star" *ngIf="Review.friendliness>4"></ion-icon>
					</ion-col>
				</ion-row>
			</ion-grid>
			<p>{{Review.review}}</p>
		</ion-item>
		<ion-item no-lines *ngIf="item.Reviews.length==0">
			<p>No Reviews Found</p>
		</ion-item>
	</ion-list>
	<ion-grid *ngIf="item.Files.length>0 && commonProvider.Role=='Admin'">
		<ion-row>
			<ion-col col-5>
				<strong>Document Name</strong>
			</ion-col>
			<ion-col col-5>
				<strong>File Name</strong>
			</ion-col>
		</ion-row>
		<ion-row *ngFor="let File of item.Files">
			<ion-col col-5>
				{{File.document_name}}
			</ion-col>
			<ion-col col-6 (click)="DownloadFile(File.file_name);">
				{{File.file_name}}
			</ion-col>
			<ion-col col-1 (click)="DeleteFile(File.id);">
				<ion-icon name="close-circle-outline"></ion-icon>
			</ion-col>
		</ion-row>
		<ion-row ion-list *ngIf="item.status==1 && item.Files.length>0">
			<ion-col col-12 ion-item no-lines>
				<ion-label>Status</ion-label>
				<ion-select [(ngModel)]="Tradie.status">
					<ion-option value="1">Document Not Verified</ion-option>
					<ion-option value="2">Document Verified</ion-option>
				</ion-select>
			</ion-col>
			<ion-col col-12 ion-item no-lines>
				<ion-label stacked>Remarks</ion-label>
				<ion-textarea [(ngModel)]="Tradie.remarks"></ion-textarea>
			</ion-col>
			<ion-col col-12 ion-item no-lines>
				<button ion-button (click)="SubmitReview();" block>Submit Review</button>
			</ion-col>
		</ion-row>
		<ion-row ion-list>
			<ion-col col-9 ion-item>
				<ion-label>Commission Percent</ion-label>
				<ion-input type="text" [(ngModel)]="item.commission" placeholder="Commission percetage"></ion-input>
			</ion-col>
			<ion-col col-3>
				<button ion-button (click)="UpdateCommission();" small block>Update</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>