page-editprofile {
	textarea{
		min-height:100px;
	}
	/*ion-item{
		border: 1px solid #30c9f5 !important;
		border-radius: 25px !important;
		margin-bottom:5px !important;
	}
	.no-border{
		border: 0px solid #30c9f5 !important;
		border-radius: 0px !important;
		background:#ffffff44;
	}
	ion-datetime{
		max-width:100%;
		width:90%;
	}*/
	.item-md, ion-item, .item-ios{
		padding-left: 7px;
		box-shadow: #00adef 0px 1px 10px -6px;
		margin-bottom: 10px;
		padding-bottom: 9px;
		border-radius: 8px;
	}
	.label-md[stacked] {
		font-size: 1.5rem;
	}
	ion-input,ion-textarea, ionic-selectable{
		border: 1px solid #00adef;
		margin-top: 5px;
		border-radius: 7px;
	}
	input[type="text"]{
		padding:0px 10px;
	}
	textarea{
		padding:5px 10px !important;
	}
	.ionic-selectable {
		max-width: 100%;
		max-height: 40px;
		padding: 10px 10px !important;
		/* text-align: left; */
	}
	input[type="text"],input[type="tel"],input[type="email"],input[type="password"]{
		padding:0px 10px;
	}
}
