<ion-header>

    <ion-navbar color="primary">
	<ion-buttons start left>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
	</ion-buttons>
    <ion-title>Give Review</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
	<ion-list *ngFor="let Project of Projects" class="project_card">
		<ion-item no-lines>
			<h2 class="job_no">Job#{{Project.id}}</h2>
			<h2 class="posted_by">
				Posted By <ion-icon name="person"></ion-icon>&nbsp;
				<span class="posted_by_name">{{Project.User.first_name}}</span>
			</h2>
			<h2 class="Category">{{Project.Category.CategoryName}}&nbsp;->&nbsp;{{Project.SubCategory.SubCategoryName}}</h2>
			<h2 class="Status{{Project.status}}" *ngIf="Project.status==1">Not assigned</h2>
			<h2 class="Status{{Project.status}}" *ngIf="Project.status==2">Already Assigned</h2>
        </ion-item>
		<ion-item no-lines>
			<h2 class="Location" *ngIf="Project.location_type=='online'">
				<ion-icon name="locate"></ion-icon>&nbsp;Online
			</h2>
			<h2 class="Location" *ngIf="Project.location_type=='onsite'">
				<ion-icon name="locate"></ion-icon>&nbsp;
				{{Project.Address.street_name}}, {{Project.Address.suberb}}, {{Project.Address.state}}
			</h2>
		</ion-item>
		<ion-item no-lines>
			<h2 class="Title">{{Project.title}}</h2>
			<h2 class="Budget">Estimated Budget:&nbsp;<b>$ {{Project.estimate_budget}}</b></h2>
			<button ion-button full (click)="GoDetail(Project.id);">
				View Project&nbsp;<ion-icon name="return-right"></ion-icon>
			</button>
		</ion-item>
	</ion-list>
</ion-content>