// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content{
	/*background-image: url("../assets/img/app_bg.jpg");
	background-repeat: no-repeat;
    background-size: cover;
	-webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;*/
	background-color:#fff;
}
page-welcome .splash-bg{
		filter: alpha(opacity=50);
}
.menu-list{
	background:rgba(255,255,255,0.5);
}
.menu-buttons{
	background:rgba(255,255,255,0.5);
}
.card-background-page {
		ion-card {
			position: relative;
			text-align: center;
		}
		
		.card-title {
			position: absolute;
			top: 36%;
			font-size: 2.0em;
			width: 100%;
			font-weight: bold;
			color: #fff;
		}
		
		.card-subtitle {
			font-size: 1.0em;
			position: absolute;
			top: 61%;
			width: 100%;
			color: #fff;
		}
		.card-md {
			margin: 0px;
			width:100%;
		}
		.list-md {
			margin: 0px 0 0px;
		}
	}
	.item-md, .grid, .row{
		background-color:rgba(255,255,255,0.8);
	}
	.toolbar-title-ios{
		font-size:1.5rem;
	}
	p,h2,h3{
		White-space: normal;
	}
	ion-item{
		background: rgba(255,255,255,0.8);
	}
	.select-searchable{
		max-width:100%;
		width:90%;
	}