page-freelancelist6 {
	textarea{
		min-height:100px;
	}
	ion-slide{
		background: rgba(255, 255, 255, 0.87);
	}
	ion-item{
		border: 1px solid #30c9f5 !important;
		border-radius: 25px !important;
		margin-bottom:5px !important;
	}
	.no-border{
		border: 0px solid #30c9f5 !important;
		border-radius: 0px !important;
		background:#ffffff44;
	}
	input[type="text"]{
		padding:0px 10px;
	}
	textarea{
		padding:5px 10px !important;
	}
}
