page-joblist {
	.job_no{
		color: #047ec7;
		font-style: italic;
		font-weight: bold;
	}
	.posted_by{
		font-weight: 300;
	}
	.posted_by_name{
		font-weight: bold;
	}
	.Category{
	    font-style: italic;
		font-size: 13px;
		font-weight: bold;
	}
	.Status1{
		color: #00b700;
		font-size:13px;
		font-weight:bold;
	}
	.Status2{
		color: #0000b7;
		font-size:13px;
		font-weight:bold;
	}
	.Location{}
	.Title{}
	.Budget{}
	.project_card{
		border: #e6e6e6 1px solid;
		border-radius: 5px;
		-webkit-box-shadow: 5px 10px #d0414159;
		box-shadow: 5px 5px rgba(0,0,0,0.1);
	}
	.half{
		width:45%;
	}
	textarea{
		min-height:100px;
	}
	ion-textarea{
		border: 1px #000 solid;
	}
	input[type="text"]{
		padding:0px 10px;
	}
	textarea{
		padding:5px 10px !important;
	}
	.ionic-selectable {
		max-width: 100%;
		max-height: 30px;
		width: 92%;
		/* text-align: left; */
	}
	.item-md{
		padding-left: 7px;
		box-shadow: #00adef 0px 1px 10px -6px;
		margin-bottom: 10px;
		padding-bottom: 9px;
		border-radius: 8px;
	}
	.label-md[stacked] {
		font-size: 1.5rem;
	}
	ion-input,ion-textarea{
		border: 1px solid #00adef;
		margin-top: 5px;
		border-radius: 7px;
	}
	input[type="text"],input[type="tel"],input[type="email"],input[type="password"]{
		padding:0px 10px;
	}
}
