page-signup {
	/*ion-item{
		border: 1px solid #30c9f5 !important;
		border-radius: 50px !important;
		margin-bottom:5px !important;
	}
	.no-border{
		border: 0px solid #30c9f5 !important;
		border-radius: 0px !important;
		background:#ffffff44;
	}
	*/
	.item-md{
		padding-left: 7px;
		box-shadow: #00adef 0px 1px 10px -6px;
		margin-bottom: 10px;
		padding-bottom: 9px;
		border-radius: 8px;
	}
	.label-md[stacked] {
		font-size: 1.5rem;
	}
	ion-input,ion-textarea{
		border: 1px solid #00adef;
		margin-top: 5px;
		border-radius: 7px;
	}
	textarea{
		min-height:100px;
	}
	
	input[type="text"],input[type="tel"],input[type="email"],input[type="password"]{
		padding:0px 10px;
	}
	textarea{
		padding:5px 10px !important;
	}
	.list-md > .item-block:last-child ion-label, .list-md > .item-block:last-child .item-inner, .list-md > .item-wrapper:last-child ion-label, .list-md > .item-wrapper:last-child .item-inner{
		white-space: normal;
	}
	.ionic-selectable {
		max-width: 100%;
		max-height: 30px;
		width: 92%;
		/* text-align: left; */
	}
	p{
	white-space: normal;
	}
}
