<ion-header>

  <ion-navbar color="primary">
	<ion-buttons start left>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
	</ion-buttons>
    <ion-title>Tradies</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-list>
		<ion-item no-lines>
			<ion-label><ion-icon name="locate"></ion-icon></ion-label>
			<select-searchable 
				item-content 
				[(ngModel)]="suberb" 
				[items]="Suberbs" 
				itemValueField="Suberb"
				itemTextField="Suberb"
				[canSearch]="true"
				(onChange)="portChange($event)" placeholder="Select">
			</select-searchable>
		</ion-item>
	</ion-list>
  <ion-card *ngFor="let item of cardItems">

    <ion-item>
      <h2>{{item.fullname}}</h2>
      <p>{{item.Category.CategoryName}}->{{item.SubCategory.SubCategoryName}}</p>
    </ion-item>

    <img *ngIf="item.Photos.length>0" src="http://uber.ptezone.com.au/uploads/{{item.Photos[0].Photo}}">

    <ion-card-content>
      <p>{{item.location}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col col-4>
        <button ion-button color="primary" clear small icon-start>
            <ion-icon name="star" *ngIf="(item.ReviewsSum/item.ReviewsCount)>0"></ion-icon>
			<ion-icon name="star" *ngIf="(item.ReviewsSum/item.ReviewsCount)>1"></ion-icon>
			<ion-icon name="star" *ngIf="(item.ReviewsSum/item.ReviewsCount)>2"></ion-icon>
			<ion-icon name="star" *ngIf="(item.ReviewsSum/item.ReviewsCount)>3"></ion-icon>
			<ion-icon name="star" *ngIf="(item.ReviewsSum/item.ReviewsCount)>4"></ion-icon>
			<ion-icon name="star-half" *ngIf="(item.ReviewsSum%item.ReviewsCount)>0"></ion-icon>
          </button>
      </ion-col>
      <ion-col col-4 text-right>
        <button ion-button color="primary" clear small icon-start>
            ({{item.ReviewsCount}} Reviews)
          </button>
      </ion-col>
      <!--ion-col col-1 center text-right>
			<button ion-button color="primary" clear small icon-start>
				<ion-icon name="call"></ion-icon>
			</button>
		</ion-col>
		<ion-col col-1 center text-right>
			<button ion-button color="primary" clear small icon-start>
				<ion-icon name="mail"></ion-icon>
			</button>
		</ion-col-->
		<ion-col col-4 center text-right>
		<button ion-button color="primary" small icon-start (click)="ReadMore(item.id);">
			<ion-icon name="more"> View</ion-icon>
		</button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>